* {
  box-sizing: border-box;
}

body {
  font: 14px "Digi Grotesk", monospace, sans-serif;
  margin: 0;
}

.primary-btn {
  background-color: #282828;
  border-color: #33ff33;
  color: #33ff33;
  padding: 5px 10px;
  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  background-color: #282828;
}

.game-board {
  width: 60%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-area {
  margin: auto 0;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  float: left;
  font-size: 4em;
  font-weight: bold;
  height: 100px;
  width: 100px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.game-info {
  width: 40%;
  margin: 0;
  display: block;
  border-radius: 30px;
  box-sizing: border-box;
}

.status {
  margin: 40px;
  color: #33ff33;
  font-size: 24px;
  font-weight: bolder;
}

.history-list li {
  list-style: none inside;
}

.history-btn {
  width: 70%;
  margin: 1px;
  text-align: left;
  border-radius: 5px;
  font-size: 14;
  font-weight: 100;
}

.history-btn:hover {
  font-weight: bolder;
}

button.sort {
  margin: 40px;
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
  .game-board,
  .game-info {
    width: 50%;
  }

  .square {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 720px) {
  .game {
    flex-direction: column;
  }
  .game-board,
  .game-info {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .history-list li {
    margin-left: -50px;
  }
  .history-btn {
    width: max-content;
  }
  .play-area {
    margin: 40px auto 0;
  }
}
